.item {
  border-radius: 12px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  min-height: 260px;
  /* max-height: 340px; */
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: rgb(49, 45, 53);
  box-shadow: rgba(34, 33, 33, 0.404) 0 8px 15px;

  animation: fadeIn 1s both;
}



.item_favs{
  display: flex;
  width: 80%;
  margin: 3em auto;
}

.delete_favs{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.delete_favs > button {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: .5em;
  font-family: "Poppins", sans-serif;
  padding: 1em;
  cursor: pointer;
  background-color: rgb(255, 56, 56);
  border: none;
  color: white;
  border-radius: 5px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.delete_favs > button:hover {
  box-shadow: rgba(231, 227, 227, 0.151) 0 8px 15px;

  transform: translateY(-1px);
}
.delete_favs > button:active {
  box-shadow: none;
}

.delete_favs > button > .icon {
  font-size: 1.5em;
}

.container_info_seco {
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
  justify-content: center;
  gap: 3em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(92, 92, 92);
}


.image_favs{
  
  animation: fadeIn 1s ease-in-out;
  width: 500px;
  min-height: 100px;
}
.image_container > span {
  width: 100%;
  height: 100%;
}
.image_card {
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.icon_heart {
  color: red;
}
.info_character {
  background-color: rgb(49, 45, 53);
  color: white;
  padding: 1em 1em 1em 1em;
  position: relative;
  width: 100%;
}
.details_character > p,
.info_character > h3 {
  font-family: "Poppins", sans-serif;
}

.details_character > p {
  line-height: 25px;
}
.title_card {
  background-color: black;
  width: 100%;
  min-height: 100px;
  font-size: 2em;
  
  line-height: 1em;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.5em;
}
.details_character {
  display: flex;
  flex-direction: column;
}
.details_character > p,
.container_info_seco > p {
  font-weight: 400;
  color: #acacac;
}
.container_info_seco > div {
  text-align: center;
}
.response {
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  color: white;
}

.dead::before,
.alive::before,
.unknown::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}
.dead::before {
  background-color: red;
}
.alive::before {
  background-color: rgb(76, 240, 90);
}
.unknown::before {
  background-color: rgb(187, 187, 187);
}

.btn_like {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: absolute;

  background-color: rgb(26, 22, 31);
  appearance: none;
  font-size: 1.2em;

  border: 3px solid rgb(125, 219, 48);
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.btn_like > .icon {
  font-size: 2.5em;
  color: rgba(125, 219, 48, 0.459);
  transition: color 0.3s ease-in-out;
}
.btn_like:disabled {
  pointer-events: none;
}

.btn_like:hover {
  box-shadow: rgba(231, 227, 227, 0.247) 0 8px 15px;

  transform: scale(1.1);
}
.btn_like:hover > .icon {
  color: rgb(125, 219, 48);
}
.btn_like:active {
  box-shadow: none;
}

.title_btn_like {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  background-color: rgb(125, 219, 48);
  color: rgb(32, 28, 28);
  border-radius: 5px;
  padding: 0.5em;
  position: absolute;
  bottom: 14%;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 9;
  opacity: 0;
}

.title_btn_like::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(125, 219, 48);
  top: -09px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -2;
}
.btn_like:hover ~ .title_btn_like {
  opacity: 1;
}
.image_container {
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
}
.web {
  display: none;
}
.image_container:hover > .btn_like_content > .web {
  display: block;
}
.btn_like_content{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_container:hover > .btn_like_content {
  background-color: rgba(0, 0, 0, 0.692);
}

@media screen and (max-width: 750px) {
  .item {
    grid-template-columns: 1fr;
    min-height: min-content;
    max-height: max-content;
  }
  .item_favs{
    flex-direction: column;
    width: 90%;
  }
  .image_favs{
    width: auto;
    min-height: 100px;
  }
  .delete_favs > button{
    width: 100%;
    padding: 1em;
  }
  .title_btn_like {
    display: none;
  }
  .item > .image_card {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }
  .title_card {
    background-color: rgb(29, 28, 31);
    margin-bottom: 0.5em;
    border-radius: 5px;
  }

  .container_info_seco .response {
    font-size: .9em;
  }
 

  .image_container:hover > .btn_like_content, .image_container .btn_like_content {
    background-color: transparent;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .btn_like_content{
    padding: .5em;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .btn_like {
    width: 70px;
    height: 70px;
  }
  .btn_like > .icon {
    font-size: 2em;
  }
  .web {
    display: block;
  }
}
