* {
  box-sizing: border-box;
}
.title_page{
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: .5em auto 1em auto;
  font-size: 3em;
  width: 80%;
  border-bottom: 1px solid black;
}
table {
  text-align: center;
  width: 90%;
  margin: auto auto 3em auto;
  font-family: "Poppins", sans-serif;
  border-bottom: 5px solid rgb(125, 219, 48);
  border-radius: 10px;
  border-spacing: 10px;
  /* box-shadow: rgba(34, 33, 33, 0.404) 0 8px 15px; */
  
}
th,
td {
  
  padding: 10px;
}
th {
  
  background-color: rgb(125, 219, 48);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 2px solid black;
}

.rank {
  font-size: 2em;
}


.image_card_ranking {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  border: 1px solid black;
}
tbody tr {
  background-color: rgb(15, 14, 14);
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: rgb(44, 41, 41);
}
tbody tr:nth-child(odd) td {
  
  border: 2px solid transparent;
}
.cabecera th div{
  display: flex;
  justify-content:center;
  align-items: center;
}
.cabecera th div span {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: .5em;
}
.cabecera th div .icon{
  font-size: 2em;
  color: black;
}

.container_rank_movil{
  display: none;
  width: 95%;
  margin: auto;
}

.item_movil_rank{
  background-color: #1d1c1c;
    color: white;
        border-radius: 5px;
    padding: 1em 0;
    margin: 1em 0;

    display: grid;
    grid-template-columns: 15% 1fr 30% 25%;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.item_movil_rank > img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid black;

}
.rank_movil {
  font-weight: bold;
  font-size: 2em;
}
.votes_movil{
  font-weight: bold;
  color: greenyellow;
  font-size: 2em;
}
@media screen and (max-width: 700px){
  table{
    display: none;
  }
  .container_rank_movil{
    display: block;
  }
}